<ion-view view-title="Selecciona biometria"
can-swipe-back="false"
class="contenido-vinculacion">    
    <ion-content class="contract wizard-content" ng-controller="chooseBiometryController as chooseBiometryControl">
        <div class="contenedor-vinculacion">

            
            <div class="row pasos-wizard">
                <div class="col">
                    <div class="Txt-pasos">
                        <p><span class="active">4</span> de 5</p>
                    </div>
                </div>
            </div>
            <!--FIN PASOS-->

            <!--ICONO-->
            <div class="row row-center">
                <div class="col">
                    <div class="vinculacion-icono icono-correo"></div>
                </div>
            </div> 
            <!--FIN ICONO-->

            <br>

            <!--TEXTOS-->
            <div class="row row-center center">
                <div class="col">
                    <div class="Txt-parrafo">
                        <p><strong>Tú eres tu propia clave</strong></p>
                        <p>Utiliza la biometría como seguridad y <br> olvídate de contraseñas </p>
                    </div>
                </div>
            </div> 
            <!--FIN TEXTOS-->

            
            <!--FIN INPUT-->
            <!--INPUT-->
            <div class="row row-phone-number">
                <div class="col">
                    
                    <button class="button button-block button-assertive siguiente" ng-click="chooseBiometryControl.irFacial();">Facial</button>
                    
                </div>
                <div class="col">
                    <button class="button button-block button-assertive siguiente" ng-click="chooseBiometryControl.irVoice();">Voz</button>
                </div>
            </div>        
            <!--FIN INPUT-->

            <!--BOTON-->
            <div class="row">
                <button class="button button-block button-assertive siguiente">Huella</button>
            </div> 
            <div class="row">
                <div class="texto-cancelar"><a href="#">Cancelar</a></div> 
            </div> 
            <!--FIN BOTON-->

        </div>

    </ion-content>
</ion-view>