<ion-view
can-swipe-back="false"
class="enrollContent">
    <!--HEADER-->
    <ion-header-bar class="bar bar-header bar-light bar-enroll" align-title="center">
        <div class="buttons" side="left">
            <a href="#/home">
                <button class="ion-backicon icon-arrow" ng-click="$ionicGoBack()"></button>
            </a>
        </div>
        <h1 class="title">{{i18n.enrollment.requestPhoneTitle}}</h1>
    </ion-header-bar >
    <!-- FIN VIEW -->

    <ion-content ng-controller="requestEnrollController as enControl" class="padding requestPhone">
        <form name="formEnroll" ng-submit="formEnroll.$valid && enControl.sendRequestEnroll()" novalidate>
            <!--CELULAR TEXTO-->
            <div class="row">
                <div class="col">
                    <div class="Txt-introduce-cel">
                        <p>{{i18n.enrollment.requestPhoneSubTitle}}</p>
                        <p><span>{{i18n.enrollment.requestPhoneContext}}</span></p>
                    </div>
                </div>
            </div>
            <!--FIN CELULAR TEXTO-->

            <!--INPUT-->
            <div class="row row-phone-number">
                <div class="col col-25">
                    <div class="IndicativoPais">+57</div>
                </div>
                <div class="col">
                    <label class=" item item-input input-white" ng-class="{'has-error':(enControl.isInvalidPhoneNumber && formEnroll.phoneNumber.$dirty)}">
                        <span class="input-white-label">{{i18n.enrollment.requestPhonelabelInputPhone}}</span>
                        <input type="tel"
                        name="phoneNumber"
                        ng-model="enControl.phoneNumber"
                        ui-mask="?999 999 9999"
                        ng-required="true"
                        ng-blur="enControl.validatePhone();"
                        ng-focus="keyboardShow=false">
                    </label>
                </div>
            </div>
            <!--FIN INPUT-->

            <!--FAQ-->
            <div class="row">
                <div class="col">
                    <div class="contextual-help"><a href="#" ng-click="whyEnroll.show();">{{i18n.enrollment.requestPhoneContextualHelp}}</a></div>
                </div>
            </div>
            <!--FIN FAQ-->

            <!--ACEPTO TEXTO-->
            <div class="row">
                <div class="col">
                    <div class="Txt-acepto">
                         <div>
                              <label class="checkbox">
                                <input type="checkbox" name="termsConditions" ng-model="enControl.termsConditions" ng-required="true" ng-change="enControl.validateForm()">
                              </label>
                         </div>
                         <div class="Txt-explain-terms">
                            <p ng-bind-html="i18n.enrollment.requestPhoneNote" ng-click="enControl.checkTerms();"></p>
                         </div>
                    </div>
                </div>
            </div>
            <!--FIN ACEPTO TEXTO-->

            <!--FAQ-->
            <div class="row">
                <div class="col">
                    <div class="Txt-leerlos disabled-acces"><a>{{i18n.enrollment.requestPhoneReadTerm}}</a></div>
                </div>
            </div>
            <!--FIN FAQ-->

            <!--BOTON-->
            <div class="row" >
                <div class="col">
                    <button class="button button-block button-positive next" ng-hide="enControl.isInvalidForm">
                        {{i18n.navigation.next}}
                    </button>
                </div>
            </div>
            <!--FIN BOTON-->
        </form>
    </ion-content>
</ion-view>
