<ion-modal-view class="modal modal-sherpa-view final-warning">
    <ion-content class="padding modal-sherpa-container">
        <div class="modal-sherpa">
            <div class="row">
                <div class="col">
                    <h4> {{i18n.finalWarningModal.title}} </h4>
                    <p>
                        <span>{{i18n.finalWarningModal.description}}</span>
                    </p>
                    <h4>{{i18n.finalWarningModal.question}}</h4>
                    <button class="button button-block button-positive request-other-token" ng-click="finalWarningModal.hide()">
                        {{i18n.finalWarningModal.tryAgain}}
                    </button>
                    <h4 class="enlace-secundario">
                        <a ng-click="goToRecoverPassword();">{{i18n.finalWarningModal.forgotPassword}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>