<ion-modal-view class="modal-sherpa-view faqs-container">
    <button class="close-modal-faq" ng-click="biometriaControl.hideHelp();"></button>
    <ion-content class="modal-sherpa-container">
        <div class="container-faq">
            <h1>{{biometriaControl.currentCategoryData.title}}</h1>
            <p ng-repeat="context in biometriaControl.currentCategoryData.context">{{context}}</p>
            <h1 ng-class="{'ng-hide':biometriaControl.currentCategoryData.titleB == ''}">
                {{biometriaControl.currentCategoryData.titleB}}
            </h1>
            <div class="faq-list-container" ng-class="{'ng-hide':biometriaControl.currentCategoryData.list == ''}">
                <li ng-repeat="list in biometriaControl.currentCategoryData.list">
                    {{list}}
                </li>
            </div>
            <div class="faq-alert-container" ng-class="{'ng-hide':enrollControl.currentCategoryData.alert == ''}">
                <div class="icon-alert"></div>
                <p>{{biometriaControl.currentCategoryData.alert}}</p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>